In [12]:
# Pandas Rank method
import pandas as pd
nba=pd.read_csv('nba.csv').dropna(how="all")
nba["Salary"]=nba["Salary"].fillna(0).astype(int)
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276

In [20]:
nba["Salary"].rank()
# rank wise make salary
nba["Salary by Rank"] = nba["Salary"].rank(ascending=False).astype(int)
nba.sort_values("Salary",ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Salary by Rank
109,Kobe Bryant,Los Angeles Lakers,24,SF,37,6-Jun,212,NaN,25000000,1
169,LeBron James,Cleveland Cavaliers,23,SF,31,8-Jun,250,NaN,22970500,2
33,Carmelo Anthony,New York Knicks,7,SF,32,8-Jun,240,Syracuse,22875000,3
251,Dwight Howard,Houston Rockets,12,C,30,11-Jun,265,NaN,22359364,4
339,Chris Bosh,Miami Heat,1,PF,32,11-Jun,235,Georgia Tech,22192730,5
...,...,...,...,...,...,...,...,...,...,...
353,Dorell Wright,Miami Heat,11,SF,30,9-Jun,205,NaN,0,452
264,Jordan Farmar,Memphis Grizzlies,4,PG,29,2-Jun,180,UCLA,0,452
409,Greg Smith,Minnesota Timberwolves,4,PF,25,10-Jun,250,Fresno State,0,452
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,10-Jun,270,USC,0,452
270,Xavier Munford,Memphis Grizzlies,14,PG,24,3-Jun,180,Rhode Island,0,452