In [2]:
# pandas sort multiple values
import pandas as pd
nba=pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [5]:
nba.sort_values(["Team","Number"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
323,Jeff Teague,Atlanta Hawks,0,PG,27,2-Jun,186,Wake Forest,8000000.0
315,Paul Millsap,Atlanta Hawks,4,PF,31,8-Jun,246,Louisiana Tech,18671659.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,6-Jun,205,Michigan,1304520.0
321,Tiago Splitter,Atlanta Hawks,11,C,31,11-Jun,245,NaN,9756250.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35,4-Jun,190,Kansas,2854940.0
...,...,...,...,...,...,...,...,...,...
380,Garrett Temple,Washington Wizards,17,SG,30,6-Jun,195,LSU,1100602.0
374,JJ Hickson,Washington Wizards,21,C,27,9-Jun,242,North Carolina State,273038.0
378,Otto Porter Jr.,Washington Wizards,22,SF,23,8-Jun,198,Georgetown,4662960.0
375,Nene Hilario,Washington Wizards,42,C,33,11-Jun,250,NaN,13000000.0
372,Drew Gooden,Washington Wizards,90,PF,34,10-Jun,250,Kansas,3300000.0

In [7]:
# sort multiple values with ascending and decending order
nba.sort_values(["Team","Number"],ascending=[True,False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
313,Kris Humphries,Atlanta Hawks,43,PF,31,9-Jun,235,Minnesota,1000000.0
319,Mike Scott,Atlanta Hawks,32,PF,27,8-Jun,237,Virginia,3333333.0
316,Mike Muscala,Atlanta Hawks,31,PF,24,11-Jun,240,Bucknell,947276.0
314,Kyle Korver,Atlanta Hawks,26,SG,35,7-Jun,212,Creighton,5746479.0
320,Thabo Sefolosha,Atlanta Hawks,25,SF,32,7-Jun,220,NaN,4000000.0
...,...,...,...,...,...,...,...,...,...
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
376,Markieff Morris,Washington Wizards,5,PF,26,10-Jun,245,Kansas,8000000.0
369,Bradley Beal,Washington Wizards,3,SG,22,5-Jun,207,Florida,5694674.0
382,John Wall,Washington Wizards,2,PG,25,4-Jun,195,Kentucky,15851950.0
370,Jared Dudley,Washington Wizards,1,SF,30,7-Jun,225,Boston College,4375000.0